*{
    margin: 0;
}
header {
    background-color: rgb(107, 105, 105);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding: 10px 0 10px 40px;
}
nav{
    background-color: rgb(138, 138, 138);
    padding: 10px 0 10px 40px;
    justify-content: space-between;
}

nav a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    padding-left: 5px;
    justify-content: space-between;
}
.a{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    justify-content: centerj;
    padding-left: 5px;
}
.b{ 
    border: 3px solid rgb(142, 162, 172); 
    margin: 10px;
    font-family: sans-serif;
    letter-spacing: 0pc;
    align-items: center;
    position: center;
    padding-left: 10px;
}

